{% extends 'mystore/store_base.html' %}
{% load static %}

{% block content %}


    

	

    <div style = "margin-top: 30px; margin-bottom:30px;" class = "cart-div">
        <div class = "container">

            <div class  = "row">
                <div class = "col-lg-12">
                    <div class = "box-element">
                        <a class = "btn btn-outline-success" href ="{% url 'store' %}">&#x2190; 
                            Continue Shopping
                        </a>
                        <br>
                        <br>

                        <table class = "table">
                            <th><h5 id = "c_items">Items: <strong></strong></h5></th>
                            <th><h5 id = "c_price">Total: <strong></strong></h5></th>
                            <th>
                                <a style = "float: right; margin:5px;" class = "btn btn-success" href = "{% url 'checkout' %}" >Checkout </a>
                            </th>

                        </table>

                    </div>

                    <br>

                    <div class = "box-element">

                        <div class = "cart-row">
                            <div style = "flex:1; margin-right:50px;"></div>
                            <div style = "flex:2;"><strong>Item</strong></div>
                            <div style = "flex:1;"><strong>Price</strong></div>
                            <div style = "flex:1;"><strong>Quantity</strong></div>
                            <div id  = "total" style = "flex:1"><strong></strong></div>
                        </div>

                    
                        <div class = "cart-row">
                            <div id  = "item"  style = "flex:1"><img class = "row-image" src = "{%static 'images/placeholder.png' %}"></div>
                            <div id  = "item_name" class = "p-size" style = "flex:2"></div>
                            <div id  = "price" class = "p-size" style = "flex:1"></div>
                            <div id  = "quan" class = "p-size" style = "flex:1">
                                <p class = "quantity"></p>
                                <div class = "quantity p-size">
                                    <img  class = "chg-quantity update-cart" src = "{%static 'images/arrow-up.png'%}">
                                    <img  class = "chg-quantity update-cart" src = "{%static 'images/arrow-down.png'%}">
                                </div>
                            </div>
                            <div  id  = "quan" style = "flex:1"></div>
                        </div>

                    </div>

                </div> 
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/cartView.js' %}"></script>
{% endblock %}